@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

main{
    margin: 50px;
}

.mr-right{
    margin-right: auto;
}


.area-table{
    display: flex;
    justify-content: center;
    width: 100%;
}


@media (min-width: 600px) {
    main{
    margin: 80px;
    }
}